body{
    background-color: burlywood;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: brown;
    text-indent: 30px;
}
h2{
    text-align: center;
    color:blue;
    text-transform: initial;
}
h3{
    text-align: center;
    color:crimson;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color: coral;
    letter-spacing: normal;
}